{% extends 'navbar.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{asset('/css/theme.css')}}" rel="stylesheet" media="all">
   
{% endblock %}
{% block contenuPrincipal %}
    {{ parent() }}

    <div class="container">
    <div class="row">
    
        <div class="mb-5">
        <h1>Conditions générales d’utilisation</h1>
        </div>
        


       
           <h3> 1.	Contrat</h3>
            
            <p>Lorsque vous utilisez nos Services, vous acceptez l’intégralité des présentes conditions. Votre utilisation de nos Services est également soumise à notre Politique relative aux cookies et à notre Politique de confidentialité, qui expliquent nos méthodes en matière de collecte, d’utilisation, de partage et de stockage de vos informations personnelles.</p>

            <p>Vous reconnaissez qu’en cliquant sur “S’inscrire”, “S’inscrire sur DW” ou un élément similaire, en vous inscrivant à nos services (décrits ci-dessous), en y accédant ou en les utilisant, vous acceptez de conclure un contrat qui vous engage légalement avec Dw Si vous n’acceptez pas ce contrat (le “Contrat” ou les “Conditions d’utilisation”), ne cliquez pas sur “S’inscrire” (ou sur un élément similaire) et abstenez-vous d’accéder à nos Services et de les utiliser. Si vous souhaitez résilier ce contrat, vous pouvez le faire à tout moment en fermant votre compte et en n’utilisant plus nos Services.</p>

            <p>Le présent Contrat s’applique à Dw.com, aux applications de la marque DW communications et autres services en lien avec Dw qui déclarent être proposés en vertu du présent Contrat (les “Services”), y compris la collecte hors site de données pour ces Services. Les utilisateurs de nos Services inscrits sont des “Membres” et les utilisateurs non inscrits sont des “Visiteurs”.
            Lorsque vous vous inscrivez aux Services Dw, vous en devenez Membre. Si vous avez choisi de ne pas vous inscrire à nos Services, vous pouvez accéder à certaines fonctionnalités en tant que “Visiteur”.</p>

            <p>Nous pouvons modifier ce Contrat, notre Politique de confidentialité et notre Politique relative aux cookies de temps à autre. Si nous y apportons des modifications importantes, nous vous en informerons via nos Services, ou par d’autres moyens, pour vous donner l’opportunité d’examiner les modifications avant qu’elles prennent effet. Nous reconnaissons que les modifications ne peuvent pas être rétroactives. </p>

           <h3> 2.	Votre compte</h3>
            
            <p>Les membres sont des titulaires de compte. Vous acceptez : (1) d’utiliser un mot de passe fort et de le conserver de façon confidentielle ; (2) de ne pas transférer une ou plusieurs parties de votre compte (comme les relations) et (3) de vous conformer à la loi et aux règles décrites dans la liste À faire et à ne pas faire et dans les Politiques de la communauté professionnelle. Vous êtes responsable de toute utilisation de votre compte à moins que vous ne le clôturiez ou que vous ne signaliez une utilisation abusive.
           
           <h3> 3.	Restrictions</h3>
            
            <p>Dw se réserve le droit de limiter votre utilisation des Services, notamment le nombre de vos relations et votre faculté à contacter d’autres membres. Dw se réserve le droit de restreindre, suspendre ou clôturer votre compte si vous ne respectez pas ce Contrat ou la loi ou que votre utilisation des Services est abusive</p> 
           
           <h3> 4.	Traitement automatisé</h3>
            
            <p>Nous utilisons les informations et données que vous fournissez et dont nous disposons pour vous proposer des recommandations de relations, de contenu et des fonctionnalités pouvant vous être utiles. En maintenant les informations de votre profil à jour et exactes, vous nous aidez à rendre nos recommandations plus pertinentes.</p>

    
    
    
    
    </div>
     </div>









{% endblock %} 